<ion-header>
  <ion-toolbar>
    <ion-title>detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Criminal1</h1>

  <div class="positionGeneral">
    <div class="superior1">
      <img src="https://www.computerhope.com/jargon/g/guest-user.jpg" width="300" height="300">
    </div>

    <div class="superior2">
      <p>Nombre: Criminal1</p>
      <p>Alias: CriWin4l1</p>
      <p>Edad: 28</p>
    </div >
        
  </div>

  <div class="Inferior1">
    <p>Raza: Negro</p>
    <p>Sexo: Indefinido</p>
    <p>Sexo: Largo moreno</p>
    <p>Descripcion:</p>
    <p>Se le vio comiendo chicles pegados de debajo de la mesa de las mesas de instituto en varias ocasiones, se le advirtio que no volviese a hacerlo... pero el a pesar los avisos siguio haciendolo y disfrutando del momento</p>
  </div>

</ion-content>
