<ion-header>
  <ion-toolbar>
    <ion-title>slides</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides>

    <ion-slide  class="classslide">
      <div class="slide">
        <img src="../../../assets/img/slide1.svg"/>
        <h2>¿Conoces a los criminales mas buscados?</h2>
        <p>Adentrate e informate sobre los criminales a los que admirar y tomar nota para tus futuros secuestros</p>
      </div>
     
    </ion-slide>

    <ion-slide  class="classslide">
      <div class="slide">
        <img src="../../../assets/img/slide2.svg"/>
        <h2>¿Quieres ser uno de ellos?</h2>
        <p>Damos la opcion de confesar tus crimenes de guerra para que tu vida tenga sentido en una persecucion constante</p>
      </div>
    </ion-slide>

    <ion-slide  class="classslide">
      <div class="slide">
        <img src="../../../assets/img/slide3.svg"/>
        <h2>Ready to Play?</h2>
        <ion-button routerLink="../main" fill="clear"> ENTRA <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
      </div>
      
    </ion-slide>

  </ion-slides>
</ion-content>
